<footer class="footer pt-2 mt-2">
  <hr class="horizontal dark mb-5">
    <div class="container ">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="text-center">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link pe-1" href="https://www.facebook.com/profile.php?id=100087398464753" target="_blank">
                  <i class="fab fa-facebook text-lg opacity-8"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pe-1" href="https://t.me/mrdarmstadtium" target="_blank">
                  <i class="fab fa-telegram text-lg opacity-8"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pe-1" href="https://github.com/VladyslavBazhyn" target="_blank">
                  <i class="fab fa-github text-lg opacity-8"></i>
                </a>
              </li>
              <li class="nav-item">
                <p class="text-sm">
                  Frontend by Soft UI Design System / Backend by Vladyslav Bazhyn
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</footer>
  