{% extends "base.html" %}
{% load static %}

  {% block content %}
    <div class="row mt-3">
      <div class="col-12">
        <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7">
          <div class="container border-bottom">
            <div class="row justify-space-between py-2">

              <section class="pt-3 pb-4 text-center" id="count-stats">
                <h2>
                  List of all cooks
                </h2>
              </section>

              <a href="{% url 'kitchen:cook-create' %}" class="btn btn-primary link-to-page">Add</a>

              {% include "includes/searching.html" %}

              {% if cook_list %}
                <table class="table">
                  <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Years of experience</th>
                  </tr>
                  {% for cook in cook_list %}
                    <tr>
                      <td>
                        <div class="row mt-3">
                          <div class="col-12">
                            <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-3">
                              <div class="container border-bottom">
                                <div class="row justify-space-between py-2">
                                  {{ cook.id }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="row mt-3">
                        <div class="col-12">
                          <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-3">
                            <div class="container border-bottom">
                              <div class="row justify-space-between py-2">
                                <a href="{{ cook.get_absolute_url }}">{{ cook.username }} {% if user == cook %} (Me){% endif %}</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>
                      </td>
                      <td>
                        <div class="row mt-3">
                          <div class="col-12">
                            <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-3">
                              <div class="container border-bottom">
                                <div class="row justify-space-between py-2">
                                  {{ cook.first_name }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="row mt-3">
                          <div class="col-12">
                            <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-3">
                              <div class="container border-bottom">
                                <div class="row justify-space-between py-2">
                                  {{ cook.last_name }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="row mt-3">
                          <div class="col-12">
                            <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-3">
                              <div class="container border-bottom">
                                <div class="row justify-space-between py-2">
                                  {{ cook.years_of_experience }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </table>
              {% else %}
                <p>Now we don't have any cooks on our kitchen</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
