{% extends "base.html" %}
<!--Pagination?-->
<!--Name of dish_type it is in video-->
<body>
  {% block content %}
    <h2>List of all dishes</h2>
    {% if dish_list %}
      {% for dish in dish_list %}
        <ul>
          <li>
            ({{ dish.id }})
            <a href="{% url 'kitchen:dish-detail' pk=dish.id%}">
              {{ dish.name }}
            </a>
             / Type: {{ dish.dish_type.name }}
             / Price: {{ dish.price }}
          </li>
        </ul>
      {% endfor %}
    {% else %}
      <p>Now we don't have any dishes on our kitchen</p>
    {% endif %}
  {% endblock %}
</body>
