{% extends "base.html" %}
<!--Pagination?-->
<!--Name of dish_type_list it is in video-->
<body>
  {% block content %}
    <h2>List of all dish types</h2>
    {% if dish_type_list %}
      {% for dish_type in dish_type_list %}
        <ul>
          <li>({{ dish_type.id }}) <a href="#">{{ dish_type.name }}</a> </li>
          <li></li>
          <li></li>
        </ul>
      {% endfor %}
    {% else %}
      <p>Now we don't have any dish types on our kitchen</p>
    {% endif %}
  {% endblock %}
</body>
