{% extends "base.html" %}

<body>
  {% block content %}
    <h3>Detail information about <strong>{{ dish_type_detail.name }}</strong> dish type</h3>
    <a href="#" class="btn btn-danger link-to-page float-right">
        Delete
    </a>
    <a href="#" class="btn btn-secondary link-to-page float-right">
        Update
    </a>

    <h5><strong>All dishes this type:</strong></h5>
      {% if dish_type_detail.dish_set.all %}
        <ul>
          {% for dish in dish_type_detail.dish_set.all %}
            <p>
              <a href="{% url 'kitchen:dish-detail' pk=dish.id %}">
                 {{ dish.name }}
              </a>
            </p>
          {% endfor %}
        </ul>
      {% else %}
        <p>Now we don't have any dishes of this type on our kitchen</p>
      {% endif %}
  {% endblock %}
</body>