{% extends "base.html" %}
<!--Pagination?-->
<!--Name of dish_type_list it is in video-->
<body>
  {% block content %}
    <h2>
      List of all dish types
      <a href="{% url 'kitchen:dish-type-create' %}" class="btn btn-primary link-to-page float-right">Add</a>
    </h2>
    {% if dish_type_list %}
      {% for dish_type in dish_type_list %}
        <ul>
          <li>
            ({{ dish_type.id }})
            <a href="{% url 'kitchen:dish-type-detail' pk=dish_type.id %}">
              {{ dish_type.name }}
            </a>
          </li>
        </ul>
      {% endfor %}
    {% else %}
      <p>Now we don't have any dish types on our kitchen</p>
    {% endif %}
  {% endblock %}
</body>
