{% extends "base.html" %}
<!--Pagination?-->
<!--Name of dish_type it is in video-->
<body>
  {% block content %}
    <h2>List of all dishes</h2>
    {% if dishes_list %}
      {% for dish in dishes_list %}
        <ul>
          <li>({{ dish.id }}) <a href="#">{{ dish.name }}</a> </li>
          <li>Type: {{ dish.dish_type.name }}</li>
          <li>Price: {{ dish.price }}</li>
        </ul>
      {% endfor %}
    {% else %}
      <p>Now we don't have any dishes on our kitchen</p>
    {% endif %}
  {% endblock %}
</body>
