{% extends "base.html" %}

<body>
  {% block content %}
  <h2>Ingredient <strong>{{ ingredient.name }}</strong> from <strong>{{ ingredient.bought_date }}</strong></h2>
    <a href="{% url 'kitchen:ingredient-delete' pk=ingredient.id %}" class="btn btn-danger link-to-page float-right">
        Delete
    </a>
    <a href="{% url 'kitchen:ingredient-update' pk=ingredient.id %}" class="btn btn-secondary link-to-page float-right">
        Update
    </a>
    <ul>
      <li>Price: {{ ingredient.price }}</li>
      <li>Description: {{ ingredient.description }}</li>
      <li>Best before: {{ ingredient.best_before }}</li>
    </ul>
    <h5>All dishes with this ingredient:</h5>
      <ul>
        {% if ingredient.dishes.all %}
          {% for dish in ingredient.dishes.all %}
            <li>
              <a href="{% url 'kitchen:dish-detail' pk=dish.id %}">{{ dish.name }}</a>
            </li>
          {% endfor %}
        {% else %}
          <p>There is no dishes with this ingredient</p>
        {% endif %}
      </ul>
  {% endblock %}
</body>